/* ! contactame++++++++++++++++++++++++++++++++++++++++ */
.container-contacto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
    margin-top: 130px;
    padding: 7rem 3rem 3rem 3rem;
}

.titulo-contacto {
    font-family: var(--font-family2);
    font-weight:bold;
    font-size: 2rem;
    border-bottom: 3px solid var(--color1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-inf-contacto {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3rem;
}

.inf-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 1rem;
}
.inf-contacto li,a{
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-align: center;
}
.inf-contacto i {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.mapa-contacto iframe{
    width:100%;
    height: 100vh;
}