/* !Servicios+++++++++++++++++++++++++++++++++++++ */
.servicios {
    margin-top: 250px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.blog-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    border: 2px solid var(--color3);
    border-radius: 20px;
}

.blog-card2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    border: 2px solid var(--color3);
    border-radius: 20px;
}

.blog-card2:hover,
.blog-card:hover {
    cursor: pointer;
    box-shadow: .5em .5em .5em #0005;
}

.meta {
    width: 400px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 1rem 2rem 1rem;
}

.photo img {
    width: 100%;
    height: 100%;
    border: 3px solid var(--color3);
    border-radius: 20px;
}

.description {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2rem 1rem 2rem 1rem;
}

.description h1 {
    width: 80%;
    border-radius: 10px;
    background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load89234 2s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--font-family2);
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
}

.description p {
    width: 100%;
    border-radius: 10px;
    background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load89234 2s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 1rem;
    font-family: var(--font-family1);
    font-weight: 400;
    font-style: inherit;
    font-size: 20px;
    margin: 2rem 0 2rem 0;
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

button.learn-more {
    width: 12rem;
    height: auto;
}

button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
}

button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

button:hover .button-text {
    color: #fff;
}

@media screen and (max-width :800px) {
    .blog-card {
        width: 80%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .blog-card2 {
        width: 80%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .meta {
        width: 80%;
    }

    .description {
        width: 80%;
        margin: 1rem 0 1rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}