@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;0,800;1,400&family=Merriweather:wght@300;400;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color1: #d4a413;
    --color2: #a87b05;
    --color3: #b28405;
    --color4: #1A120B;
    --font-family1: 'EB Garamond', serif;
    --font-family2: 'Merriweather', serif;
}

ul,
li,
a {
    list-style: none;
    text-decoration: none;
    color: #000;
}
a:link, a:visited,  a:hover, a:active
{
    color: #000000;
    text-decoration: none;
}

/* !Quienes Somos+++++++++++++++++++++++++++++++++++++++ */
.perfil {
    margin-top: 130px;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgb(0, 0, 0, .5), rgb(0, 0, 0, .5)), url('./assets/Fondo-perfil1.jpg');
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

.title-perfil {
    color: var(--color1);
    font-weight: 800;
    font-size: 3rem;
    font-family: var(--font-family2);
    margin-top: 5rem;
    padding-left: 3rem;
}

.descripcion-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: justify;
    color: var(--color1);
    font-weight: bold;
    font-size: 1.5rem;
    width: 800px;
    height: 300px;
}

/* ! tarjeta ++++++++++++++++++++++++++++++++++++++++++++ */
.card {
    width: 80%;
    height: 400px;
    background: #ffff;
    box-shadow: 0 1px 25px rgba(0, 0, 0, 0.2);
    padding: 12px 10px;
    display: flex;
    gap: 4rem;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.card_load {
    width: 370px;
    height: 370px;
    background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%);
    border-radius: 50%;
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load89234 2s infinite;
}

.card_load img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.card_load_extreme_title {
    width: 590px;
    height: 50px;
    border-radius: 5px;
    background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load89234 2s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--font-family2);
    font-weight: bold;
    font-size: 30px;
}

.card_load_extreme_descripion {
    width: 590px;
    height: 250px;
    border-radius: 5px;
    background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%);
    margin-top: 10px;
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load89234 2s infinite;
}

.card_load_extreme_descripion p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-family: var(--font-family1);
    font-weight: 400;
    font-size: 20px;
    margin: 1rem;
}

@keyframes load89234 {
    100% {
        background-position: -100% 0;
    }
}
/* !GALERIA ++++++++++++++++++++++++++++++++++++ */
.noticias-perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subtitle-perfil{
    font-family: var(--font-family2);
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    border-bottom: 3px solid var(--color1);
}
.galeria-perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 400px;
}
.galeria-perfil img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0px;
    max-height: 430px;
    flex-grow: 1;
    object-fit: contain;
    opacity: .8;
    transition: .5s ease;
}
.galeria-perfil img:hover{
    cursor: crosshair;
    width: 800px;
    opacity: 1;
    filter: contrast(120%);
}
/* ! contactame++++++++++++++++++++++++++++++++++++++++ */
.container-contacto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
    margin-top: 130px;
    padding: 7rem 3rem 3rem 3rem;
}

.titulo-contacto {
    font-family: var(--font-family2);
    font-weight:bold;
    font-size: 2rem;
    border-bottom: 3px solid var(--color1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-inf-contacto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3rem;
}

.inf-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 1rem;
}
.inf-contacto li,a{
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-align: center;
}
.inf-contacto i {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}


/* !Servicios+++++++++++++++++++++++++++++++++++++ */
.servicios {
    margin-top: 130px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.blog-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    width: 80%;
    height: 350px;
    border: 2px solid var(--color1);
    border-radius: 20px;
}

.blog-card2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    width: 80%;
    height: 350px;
    border: 2px solid var(--color1);
    border-radius: 20px;
}

.blog-card2:hover,
.blog-card:hover {
    cursor: pointer;
    box-shadow: .5em .5em .5em #0005;
}

.meta {
    min-width: 400px;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo {
    font-size: 5rem;
}

.description {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2rem 1rem 2rem 1rem;
}

.description h1 {
    width: 80%;
    max-height: 200px;
    border-radius: 10px;
    background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load89234 2s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--font-family2);
    font-weight: bold;
    font-style: normal;
}

.description p {
    width: 100%;
    height: 50%;
    border-radius: 10px;
    background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load89234 2s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 1rem;
    font-family: var(--font-family1);
    font-weight: 400;
    font-style: inherit;
    font-size: 20px;
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

button.learn-more {
    width: 12rem;
    height: auto;
}

button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
}

button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

button:hover .button-text {
    color: #fff;
}

