@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;0,800;1,400&family=Merriweather:wght@300;400;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color1: #d4a413;
    --color2: #a87b05;
    --color3: #b28405;
    --color4: #1A120B;
    --font-family1: 'EB Garamond', serif;
    --font-family2: 'Merriweather', serif;
}

ul,
li,
a {
    list-style: none;
    text-decoration: none;
    color: #000;
}
a:link, a:visited,  a:hover, a:active
{
    color: #000000;
    text-decoration: none;
}


/* ! contactame++++++++++++++++++++++++++++++++++++++++ */
.container-contacto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
    margin-top: 130px;
    padding: 7rem 3rem 3rem 3rem;
}

.titulo-contacto {
    font-family: var(--font-family2);
    font-weight:bold;
    font-size: 2rem;
    border-bottom: 3px solid var(--color1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-inf-contacto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3rem;
}

.inf-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 1rem;
}
.inf-contacto li,a{
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-align: center;
}
.inf-contacto i {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}


